/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'PayPal Sans Big','Helvetica Neue',Helvetica,Arial,sans-serif;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.navbar {
    min-height: 62px !important;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
  background: #e5e5e5;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #428aca;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  font-size: 16px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color:#fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #0e2f85;
}

.nav>li>a:focus, .nav>li>a:hover {
      background-color: #acacac !important;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  /* border-radius: 50%; */
}
.nav-link2 { color:#024d8d; font-weight:bold; font-size:14px;  }



.circle-tile {
    margin-bottom: 15px;
    text-align: center;
    min-height: 200px;
}
.circle-tile-heading {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 100%;
    color: #FFFFFF;
    height: 80px;
    margin: 0 auto -40px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    width: 80px;
}
.circle-tile-heading .fa {
    line-height: 80px;
}
.circle-tile-content {
    padding-top: 50px;
    min-height: 125px;
}
.circle-tile-number {
    font-size: 18px !important;
    font-weight: 700;
    line-height: 1;
    /* padding: 5px 0 15px; */
}
.circle-tile-description {
    text-transform: uppercase;
}
.circle-tile-footer {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.5);
    display: block;
    padding: 5px;
    transition: all 0.3s ease-in-out 0s;
}
.circle-tile-footer:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
.circle-tile-heading.dark-blue:hover {
    background-color: #2E4154;
}
.circle-tile-heading.green:hover {
    background-color: #138F77;
}
.circle-tile-heading.orange:hover {
    background-color: #DA8C10;
}
.circle-tile-heading.blue:hover {
    background-color: #2473A6;
}
.circle-tile-heading.red:hover {
    background-color: #CF4435;
}
.circle-tile-heading.purple:hover {
    background-color: #7F3D9B;
}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9);
}

.dark-blue {
    background-color: #34495E;
}
.green {
    background-color: #16A085;
}
.blue {
    background-color: #2980B9;
}
.orange {
    background-color: #F39C12;
}
.red {
    background-color: #E74C3C;
}
.purple {
    background-color: #8E44AD;
}
.dark-gray {
    background-color: #7F8C8D;
}
.gray {
    background-color: #95A5A6;
}
.light-gray {
    background-color: #BDC3C7;
}
.yellow {
    background-color: #F1C40F;
}
.text-dark-blue {
    color: #34495E;
}
.text-green {
    color: #16A085;
}
.text-blue {
    color: #2980B9;
}
.text-orange {
    color: #F39C12;
}
.text-red {
    color: #E74C3C;
}
.text-purple {
    color: #8E44AD;
}
.text-faded {
    color: rgba(255, 255, 255, 0.7);
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: #2d9dea;
    color: #FFF;
    font-size: 13px;
    border:2px solid #c0c0c0;
}
.nav-tabs>li>a { 
  font-size:13px;
  background-color: #dcd9d9;
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}

#daterange {
  background-color: #5cb85c;
  color:#FFF !important;
  font-size: 16px !important;
}

.page-heading {
    color: #003087;
    float: left;
    background: none;
    content: attr(data-text);
    left: 0;
    position: absolute;
    text-shadow: 1px 1px 10px rgb(255, 255, 255, 0.5) top: 0;
    z-index: -1;
    margin: 22px 300px;
    font-size: 28px;
}

.daterangepicker td.in-range {
    background-color: #4fbced !important;
}
.daterangepicker td.end-date {
    background-color: #357ebd !important; 
}
.daterangepicker td.off {
  visibility: hidden;
}
.top-overview {
  margin-top: 1%;
    border: 2px solid #e6e6e6;
    padding: 0.5%;
    text-align: right;
    width: 100%;
    background: #eee;
}

.jumbotron-dash-prev {
  padding:10px !important;
  background-color:#f3ebeb !important; 
  color:#2685ad;
}
.jumbotron-dash-curr {
  padding:10px !important;
  background-color:#f3ebeb  !important; 
  color:#2685ad;
}

.jumbotron-dash-prev span {
  font-style: italic;
    font-size: 12px;
}

.jumbotron-dash-curr span {
  font-style: italic;
    font-size: 12px; 
    font-weight: bold;
    color:rgba(255, 255, 255, 0.7);
}